body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5943a4;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

.container {
    display: flex;
    background-color: rgb(222, 218, 175);
    justify-content: center;
    padding: 20px;
}

.box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.218);
    padding: 30px;
    margin: 20px;
    width: 600px;
    text-align: center;
}

.container-image img {
    width: 100%;
    height: auto;
}

.calculation-section {
    margin-top: 20px;
}

.input-group {
    margin: 10px 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button-group {
    margin-top: 20px;
}

button {
    background-color: #872166;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #87216768;
}

.switch-ks {
    background-color: #872166;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px;
    text-decoration: underline;
}

.switch-ks:hover {
    color: #373d8f;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

.Keterangan {
    text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}