/* Ini CSS */

.h1 {
    text-align: center;
}

.a-1 {
    text-align: center;
}

.section-content {
    background-color: cornflowerblue;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.section-content>h3 {
    margin: 0;
}

#switch-keliling {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: white;
    color: blue;
    border: 0px;
}

.container-image {
    text-align: center;
}

img {
    width: 350px;
    height: 250px;
}