/* Ini CSS */

.h1 {
    text-align: center;
}

.a-1 {
    text-align: center;
}

.section-content {
    background-color: cornflowerblue;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px;
}

.section-content>h3 {
    margin: 0;
}

#switch-keliling {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: wheat;
    color: blue;
    border: 12px;
    font-weight: bold;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin: 0px;
}

#switch-keliling:hover {
    background-image: -moz-linear-gradient(180deg, #067054, #3421e3);
    color: white;
    cursor: pointer;
}

.container-image {
    text-align: center;
}

img {
    width: 300px;
    height: 200px;
}

.rumus {
    text-align: center;
    font-weight: bold;
}

.a-2 {
    text-align: center;

}

input {
    width: 100%;
    border-style: solid;
}

.b-1 {
    text-align: center;
    background-color: #574cbf;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.b-2    {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkgoldenrod;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}